header {
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
  height: 100vh;
  /* position: relative; */
}

.header-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 220px;
  gap: 10px;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.header-social::after {
  content: "";
  width: 1px;
  height: 50px;
  background: var(--color-primary);
}

.scroll-down {
  position: absolute;
  right: 0;
  bottom: 100px;
  margin-right: 220px;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--color-primary);
}
